@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    background-color: rgb(238, 230, 163);
    background-size: cover;
    background-repeat: no-repeat;
   }

.logo {
    width: 90px;
    justify-content: left;
}

.logo:hover {
    transform: scale(1.1);
}

.barrita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    text-align: center;
}

.alinear {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

.barrita a {
    margin: 0 15px; 
    text-decoration: none;
    color: black;
}

.barrita a:hover {
    color: rgb(169, 66, 1);
}

#Carrito {
    height: 30px;
    margin-left: 15px; 
}
.Perfil {
    font-family: 'Poppins', sans-serif; 
    margin-left: 15px; 
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: #FDAE15;
    color: black;
    border: none;
    font-size: 20px;
}

.Perfil :hover {
    font-family: 'Poppins', sans-serif; 
    color: white;
    background-color: #5F4209;
}

.profile-section {
    font-family: 'Poppins', sans-serif; 
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: relative;
}
.profile-section img {
    border-radius: 50%;
    border: 5px solid #4B3621;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: 50px;
}

.profile-card {
    background-color: #A0522D;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-card h2 {
    color: #FFF;
    margin-bottom: 20px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.profile-item span {
    color: #FFF;
    font-size: 16px;
}

.profile-item button {
    background-color: #4B3621;
    color: #FFF;
    border: none;
    padding: 5px
}
.footer {
    margin-top: 50px;
    background-color: #5c3b1e; 
    color: white; 
    padding: 15px; 
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}

.footer-content h2 {
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.footer-content p {
    margin: 3px 0;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.footer-icons {
    margin: 10px 0;
}

.footer-icons i {
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
    color: white;
}

.footer-icons i:hover {
    transform: scale(1.2);
}

.footer-links {
    margin: 10px 0;
    font-size: 12px; 
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px; 
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #f1c40f; 
}

.author {
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
