@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe5b4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffcc80;
}

.logo img {
    width: 80px;  
    height: auto;
}


nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.login-btn {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.register-form {
    width: 60%;
    background-color: #d2b48c;
    padding: 20px;
    border-radius: 10px;
}

.register-form h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.register-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input, form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #d2691e;
    color: white;
    border: none;
    cursor: pointer;
}

.product-promo {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-promo img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.descargar img {
    width: 120px;
    margin: 10px;
}
